html, body, .root {
  height: 100%;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.my-jumbo {
  margin: 1px 10px;
}

.my-h1 {
  padding-bottom: 10px;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.book-shelf-changer {
  position:absolute;
  bottom: 1px;
  right: 1px;
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle {
  border-radius: 50% !important;
}